@import url("https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&family=Nanum+Pen+Script&family=Rancho&display=swap");
/* font-family: 'Mali', cursive;
font-family: 'Nanum Pen Script', cursive;
font-family: 'Rancho', cursive; */

.searchItens {
  padding: 10px 15px;
  border: 0px;
  text-align: center;
}

.pageTitle {
  color: rgb(77, 77, 77);
}

.resultBoard {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.ingredientsCard {
  text-align: center;
  padding: 20px;
  margin: 20px;
  min-width: 350px;
  height: 100%;
}

.searchButton {
  border: 0px;
  background-color: rgb(51, 141, 96);
  color: white;
}

.ingredient-card {
  width: 100%;
}

.form-input,
.side-button,
.buttons,
.ingredient-card {
  margin: 5px;
  padding: 10px;
  border: 1px solid rgb(196, 196, 196);
}
.form-input:focus {
  outline-color: rgb(138, 201, 131);
}

.itemList {
  display: flex;
  height: 100%;
  font-weight: normal;
}
.autocompleteSugestion {
  width: 100%;
  padding: 5px 20px;
  margin: 0px 0px;
}
.autocompleteSugestion:hover {
  outline-color: rgb(143, 218, 255);
  color: white;
  background-color: rgb(189, 189, 189);
}
.autocompleteForm {
  position: absolute;
  width: 100%;
  margin-top: 5px;
  background-color: white;
}
.pop-up {
  padding: 15px;
}
.centered {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pop-up-background {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  background-color: rgba(70, 70, 70, 0.685);
}
.exit-button {
  display: block;
  margin: 5px;
  background-color: rgb(158, 18, 0);
  font-size: 1em;
  height: 1.5em;
  width: 1.5em;
  color: white;
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translate(-0%, -0%);
}
.box {
  background-color: white;
}
.box,
.pop-up,
.form-input,
.buttons,
.resultCard,
.side-button,
.ingredient-card,
.card,
.ingredientsCard,
.autocompleteForm {
  border: 0px;
  overflow: hidden;
  border-radius: 10px;
}
.exit-button,
.switch,
.searchItens {
  border: 0px;
  overflow: hidden;
  border-radius: 100px;
}
.switch,
.searchItens,
.form-input {
  box-shadow: inset 1px 1px 3px rgba(26, 26, 26, 0.432);
}
.box,
.pop-up,
.autocompleteForm,
.side-button,
.exit-button,
.buttons,
.resultCard,
.card,
.ingredientsCard {
  box-shadow: 1px 1px 3px rgba(26, 26, 26, 0.432);
}
/* Switch */
.switch {
  margin: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}
.switch-button {
  padding: 10px;
  border: 0px;
  color: white;
  background-color: rgb(190, 190, 190);
}
.switch-button.selected {
  background-color: rgb(5, 136, 0);
}
.lupa {
  opacity: 50%;
  height: 20px;
  position: absolute;
  right: 0px;
}
.loading {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(70, 70, 70, 0.685);
}
.resultCard {
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
  width: 300px;
  font-size: 14pt;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: all 0.15s ease-in-out;
}
.container {
  margin: 0px;
  overflow: hidden;
}
.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.position-bottom {
  position: absolute;
  bottom: 10px;
  transform: translate(-50%, 0%);
}
.favorite {
  position: absolute;
  top: 0;
  left: 55%;
  object-fit: cover;
}
.recipeCard {
  margin: 20px;
  padding: 10px;
  width: 60%;
  min-width: 350px;
}
.layout {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  align-items: center;
  justify-content: space-evenly;
}
.column-1 {
  /* width: 30%; */
  flex-grow: 1;
}
.column-2 {
  /* width: 60%; */
  flex-grow: 2;
}
.column-1,
.column-2 {
  /* background-color: black; */
  min-width: 300px;
}

.side-button,
.buttons {
  min-width: 40px;
  text-align: center;
  display: block;
  font-size: 1em;
  color: white;
}

.buttons {
  width: 100%;
}
.side-button.red {
  background-color: rgb(221, 43, 19);
}
.side-button.green,
.buttons {
  background-color: rgb(65, 133, 57);
}

.buttons,
.form-input {
  width: 100%;
  padding: 10px;
  margin: 0px;
  margin-top: 10px;
}
.img-container {
  margin: 0px;
  overflow: hidden;
}
input[type="file"] {
  display: none;
}
.buttons.file {
  background-color: rgb(238, 238, 238);
  font-weight: normal;
  color: rgb(37, 37, 37);
}
.card {
  padding: 10px;
}
.title {
  margin-top: 20px;
}
h1,
h2 {
  font-family: "Mali", cursive;
  /* font-family: "Nanum Pen Script", cursive; */
  /* font-family: "Rancho", cursive; */
}
h4,
h3 {
  /* font-family: "Mali", cursive; */
  font-family: "Nanum Pen Script", cursive;
  /* font-family: "Rancho", cursive; */
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.quote {
  /* font-family: "Rancho", cursive; */
  font-family: "Mali", cursive;
  /* font-weight: lighter; */
  font-size: 12pt;
}
.fixed-message {
  width: 100%;
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -0%);
}
a {
  color: white;
}
a:link {
  text-decoration: none;
  color: white;
}
a:visited {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: rgb(156, 156, 156);
}
a:active {
  text-decoration: none;
  color: rgb(65, 133, 57);
}
.my-navbar {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}
.page {
  padding-top: 100px;
}
.match {
  background-color: rgb(181, 199, 165);
  color: white;
  font-size: 0.8em;
  border-radius: 10px;
  padding: 3px 8px;
  margin: 5px;
}
.glow {
  /* border-radius: 50%; */
  /* box-shadow: 0 0 2px 5px #fff, 0 0 10px 10px rgb(255, 251, 0),
    0 0 15px 20px rgba(43, 255, 0, 0.274); */
  animation-name: glowing;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  margin: auto 40px;
}
.resultCard:hover {
  transform: scale(1.05);
}
@keyframes glowing {
  0% {
    box-shadow: 1px 1px 3px rgba(26, 26, 26, 0.432);

    box-shadow: 1px 1px 3px rgba(26, 26, 26, 0.432), 0 0 0px 0px white,
      0 0 0px 0px yellow;
  }
  50% {
    box-shadow: 1px 1px 3px rgba(26, 26, 26, 0.432), 0 0 10px 10px white,
      0 0 20px 20px yellow;
  }
  75% {
    box-shadow: 1px 1px 3px rgba(26, 26, 26, 0.432), 0 0 30px 30px white,
      0 0 20px 20px yellow;
  }
  90% {
    box-shadow: 1px 1px 3px rgba(26, 26, 26, 0.432), 0 0 30px 30px white,
      0 0 0px 0px yellow;
  }
  100% {
    box-shadow: 1px 1px 3px rgba(26, 26, 26, 0.432), 0 0 0px 0px white,
      0 0 0px 0px yellow;
  }
}
.link,
.link:hover,
.link:active,
.link:visited {
  color: rgb(77, 77, 77);
}
.form-input:required {
  background-color: rgb(255, 255, 255);
}
