@import url("https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&family=Nanum+Pen+Script&family=Rancho&display=swap");
/* font-family: 'Mali', cursive;
font-family: 'Nanum Pen Script', cursive;
font-family: 'Rancho', cursive; */

.searchItens {
  padding: 10px 15px;
  width: 100%;
  border: 0px;
  text-align: center;
}

/* .centerPage {
  padding-top: 50px;
  text-align: center;
} */

.pageTitle {
  margin: 20px;
  color: rgb(77, 77, 77);
}

.resultBoard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ingredientsCard {
  text-align: center;
  padding: 20px;
  margin: 20px;
  max-width: 30%;
  min-width: 350px;
  height: 100%;
}
.buttons {
  padding: 10px;
  width: 95%;
  border: 0px;
  background-color: rgb(255, 255, 255);
  color: rgb(51, 97, 59);
}

.searchButton {
  border: 0px;
  background-color: rgb(51, 141, 96);
  color: white;
}

.forminput {
  width: 100%;
  padding: 10px;
  /* display: block; */
  margin: 5px auto;
  border: 1px solid rgb(196, 196, 196);
}
.forminput:focus {
  outline-color: rgb(143, 218, 255);
}

.itemList {
  padding: 2px;
  display: flex;
  /* justify-content: flex-end; */
  height: 100%;
  font-weight: normal;
}
.autompleteSugestion {
  padding: 3px 20px;
  margin: 5px 0px;
}
.autompleteSugestion:hover {
  outline-color: rgb(143, 218, 255);
  background-color: rgb(194, 230, 185);
}
.autocompleteForm {
  position: absolute;
  background-color: white;
}
/* Pop-up */
.pop-up {
  padding: 15px;
}
.centered {
  width: 550px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pop-up-background {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(70, 70, 70, 0.685);
}
.exit-button {
  display: block;
  margin: 5px;
  background-color: rgb(158, 18, 0);
  font-size: 1em;
  height: 1.5em;
  width: 1.5em;
  color: white;
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translate(-0%, -0%);
}
/* Boxes configs */
.box {
  background-color: white;
}
/* Border Smooth */
.box,
.pop-up,
.forminput,
.buttons,
.resultCard {
  border: 0px;
  overflow: hidden;
  border-radius: 10px;
}
/* Border Rounded */
.exit-button,
.switch,
.searchItens,
.autompleteSugestion {
  border: 0px;
  overflow: hidden;
  border-radius: 100px;
}
/* Shadow light*/
.switch,
.exit-button,
.searchItens,
.buttons {
  box-shadow: 3px 3px 10px rgba(139, 139, 139, 0.425);
}
/* Shadow medium */
.box,
.pop-up,
.autocompleteForm,
.forminput,
.resultCard {
  box-shadow: 3px 3px 10px rgba(32, 32, 32, 0.425);
}
/* Switch */
.switch {
  margin: 20px;
  position: relative;
  display: flex;
  width: 300px;
  justify-content: center;
}
.switch-button {
  width: 100%;
  padding: 10px;
  border: 0px;
  color: white;
  background-color: rgb(190, 190, 190);
}
.switch-button.selected {
  background-color: rgb(5, 136, 0);
}
.lupa {
  opacity: 50%;
  height: 20px;
  position: absolute;
  right: 0px;
}
.loading {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(70, 70, 70, 0.685);
}
.resultCard {
  text-align: center;
  width: 300px;
  /* margin: 10px; */
  font-size: 14pt;
}
.container {
  margin: 0px;
  overflow: hidden;
  /* height: 0; */
  /* position: relative; */
}
.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* .container-content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
} */
.position-bottom {
  position: absolute;
  bottom: 10px;
  transform: translate(-50%, 0%);
}
.favorite {
  position: absolute;
  top: 0;
  left: 55%;
  object-fit: cover;
}
.recipeCard {
  margin: 20px;
  padding: 10px;
  width: 60%;
  min-width: 350px;
}

.column-1 {
  flex-grow: 1;
}
.column-2 {
  flex-grow: 2;
  height: 600px;
}
.column-1,
.column-2 {
  background-color: black;
  min-width: 300px;
}
.layout {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  align-content: flex-end;
}
/* NAVBAR */
a {
  text-decoration: line-through;
}
@media screen and (max-width: 600px) {
  .centered {
    width: 90%;
  }
}
