.searchItens {
  border-radius: 25px;
  padding: 10px 15px;
  margin: 10px;
  width: 80%;
  box-shadow: 1px 2px 10px rgb(173, 173, 173);
  border: 0px;
  text-align: center;
}

.centerPage {
  padding-top: 50px;
  text-align: center;
}

.searchPage {
  max-width: 100vw;
  text-align: center;
  margin: 30vh auto;
  padding: 10px 5vw;
}

.pageTitle {
  font-size: 2.5em;
  margin: 20px;
  color: rgb(77, 77, 77);
}

.resultCard {
  text-align: center;
  width: 300px;
  margin: 20px;
}

.imgContainer {
  margin: auto;
  overflow: hidden;
  height: 300px;
  width: 100%;
}
.titleContainer {
  padding: 10px;
  margin: auto;
}
.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.resultBoard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipeCard {
  margin: 20px;
  padding: 10px;
  width: 60%;
  min-width: 350px;
}

.ingredientsCard {
  text-align: center;
  padding: 20px;
  margin: 20px;
  max-width: 30%;
  min-width: 350px;
  height: 100%;
}

.shadowBoxCard {
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(211, 211, 211) 3px 3px 15px;
  border-radius: 10px;
  overflow: hidden;
}

.buttons {
  padding: 10px;
  border-radius: 10px;
  width: 90%;
  border: 0px;
  background-color: rgb(255, 255, 255);
  color: rgb(51, 97, 59);
  margin: 5%;
  box-shadow: rgb(211, 211, 211) 3px 3px 15px;
}

.searchButton {
  border: 0px;
  background-color: rgb(51, 141, 96);
  color: white;
}

.forminput {
  width: 100%;
  padding: 10px;
  /* display: block; */
  margin: 5px auto;
  border-radius: 7px;
  border: 1px solid rgb(196, 196, 196);
}
.forminput:focus {
  outline-color: rgb(143, 218, 255);
}

.itemList {
  padding: 2px;
  display: flex;
  /* justify-content: flex-end; */
  height: 100%;
  font-size: 14pt;
  font-weight: normal;
}
.deleteButton {
  border: 0;
  border-radius: 3px;
  box-shadow: rgb(182, 182, 182) 3px 3px 5px;
  font-size: 10pt;
  padding: 0 4px;
  background-color: rgb(180, 35, 16);
  color: white;
  height: 20px;
  margin: 5px 10px;
  text-align: center;
}
